<h3>Department Manage: </h3>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="deptcode">
        <th mat-header-cell *matHeaderCellDef> Department Code</th>
        <td mat-cell *matCellDef="let element"> {{element.deptcode}} </td>
    </ng-container>

    <ng-container matColumnDef="departname">
        <th mat-header-cell *matHeaderCellDef> Department Name</th>
        <td mat-cell *matCellDef="let element"> {{element.departname}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status</th>
        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let row">
            <button><mat-icon>view_module</mat-icon></button></td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>